.ligne1{
    display:flex;
  }
  .ligne1 button{
    background:lightgray;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    border-radius:20%;
    margin-right:10px;
    margin-left:8px;
  }
  
  .ligne2{
    display:flex;
  }
  .ligne2 button{
    border:1px solid;
    height:50px;
    width:50px;
    margin:7px;
    border-radius:20%;
    text-align:center;
    line-height:50px;
    background:lightgray;
  }
  
  .ligne3{
    display:flex;
  }
  .ligne3 button{
    border:1px solid;
    height:50px;
    width:50px;
    margin:7px;
    border-radius:20%;
    text-align:center;
    line-height:50px;
    background:lightgrey;
  }
  
  .ligne4{
    display:flex;
  }
  .ligne4 button{
    border:1px solid;
    height:50px;
    width:50px;
    margin:7px;
    border-radius:20%;
    text-align:center;
    line-height:50px;
    background:lightgrey;
  }
  
  .ligne5{
    display:flex;
  }
  .ligne5 button{
    border:1px solid;
    height:50px;
    width:50px;
    margin:7px;
    border-radius:20%;
    text-align:center;
    line-height:50px;
    background:lightgrey;
  }
  
  p{
    width:160px;
    border: 1px solid;
    background-color: white;
  }
  
  .principale{
    border:1px solid;
    border-radius: 3%;
    width:250px;
    padding:10px;
    /* background: rgb(34,193,195); */
    /* background: linear-gradient(128deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
    background: rgb(34,193,195);
background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(0,252,255,0.14730878186968843) 68%);
  }