#task, #add {
    padding: 10PX;
    font-size: 20PX;
    border-radius: 10px;
}

body {
    background-color: rgb(124, 38, 204);
}

li {
    position: relative;
    width:30%;
    padding: 10px;
    
}

li button {
    position: absolute;
    right: 5px;
}
