body {
    background-color: purple;
}

#container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(184, 82, 126);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: -15px -15px -px royalblue;
}